<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">

<div th:replace="~{fragments/header :: header}"></div>

<main class="container mx-auto px-4 py-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mb-4 text-blue-600">All Blog Posts</h1>
    <ul class="space-y-4">
        <li th:each="post : ${posts}" class="border-b border-gray-200 pb-4">
            <a th:href="@{/posts/{id}(id=${post.id})}" class="text-xl font-semibold text-blue-600 hover:underline" th:text="${post.tittle}">Post Title</a>
            <p th:text="${post.summary}" class="text-gray-600 mt-2">Post Summary</p>
            <div class="flex items-center text-gray-500 mt-2 text-xs mr-1">
                <span class="mx-1">0 Comments</span>
                <span class="mx-1">·</span>
                <span class="mx-1">Author</span>
                <span class="mx-1">·</span>
                <span th:text="${post.formattedPublishedDate}" class="mx-1">Published Time</span>
            </div>
        </li>
    </ul>
</main>

<footer class="bg-white shadow mt-6">
    <div class="container mx-auto px-4 py-6 text-center">
        <p>&copy; 2024 Blog. All rights reserved.</p>
    </div>
</footer>

</body>
</html>